USE [master]
GO
/****** Object:  Database [Bridge2]    Script Date: 4/24/2023 8:21:38 PM ******/
CREATE DATABASE [Bridge2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bridge2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Bridge2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bridge2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Bridge2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bridge2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bridge2]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 4/24/2023 8:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[Device_ID] [int] IDENTITY(1,1) NOT NULL,
	[Program_ID] [int] NULL,
	[Program_Name] [char](40) NULL,
	[Device_Type] [char](40) NULL,
	[Device_Cost] [decimal](10, 2) NULL,
	[Device_Eligibility] [char](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[Device_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Internet]    Script Date: 4/24/2023 8:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internet](
	[Internet_ID] [int] IDENTITY(1,1) NOT NULL,
	[Program_ID] [int] NULL,
	[Program_Name] [char](40) NULL,
	[Service_Type] [char](40) NULL,
	[Internet_Cost] [decimal](10, 2) NULL,
	[Max_Speed] [char](5) NULL,
	[Internet_Eligibility] [char](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[Internet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 4/24/2023 8:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Program_ID] [int] IDENTITY(1,1) NOT NULL,
	[Program_Name] [char](40) NULL,
	[Organization_Name] [char](50) NULL,
	[Organization_Type] [char](25) NULL,
	[Organization_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Program_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Program]    Script Date: 4/24/2023 8:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program](
	[Program] [int] NOT NULL,
	[Program_ID] [int] NOT NULL,
	[Program_Name] [char](40) NULL,
	[Days_Operation] [char](75) NULL,
	[Time_Available] [char](75) NULL,
	[Website] [varchar](512) NULL,
	[Phone_Number] [char](13) NULL,
	[Address] [char](60) NULL,
	[Email] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[Program] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicDeviceAccess]    Script Date: 4/24/2023 8:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicDeviceAccess](
	[DeviceAccess_ID] [int] IDENTITY(1,1) NOT NULL,
	[Program_ID] [int] NULL,
	[Program_Name] [char](40) NULL,
	[Technology_Available] [char](25) NULL,
	[PublicDevice_Cost] [decimal](10, 2) NULL,
	[Terms_of_Use] [char](50) NULL,
	[Tech_Support] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceAccess_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillSupport]    Script Date: 4/24/2023 8:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillSupport](
	[Skill_ID] [int] IDENTITY(1,1) NOT NULL,
	[Program_ID] [int] NULL,
	[Program_Name] [char](40) NULL,
	[Training_Format] [char](40) NULL,
	[Instruction_Type] [char](20) NULL,
	[Skill_Cost] [decimal](10, 2) NULL,
	[Skill_Eligibility] [char](40) NULL,
	[Skill_Level] [char](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Skill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD FOREIGN KEY([Program_ID])
REFERENCES [dbo].[Organization] ([Program_ID])
GO
ALTER TABLE [dbo].[Internet]  WITH CHECK ADD FOREIGN KEY([Program_ID])
REFERENCES [dbo].[Organization] ([Program_ID])
GO
ALTER TABLE [dbo].[Program]  WITH CHECK ADD FOREIGN KEY([Program_ID])
REFERENCES [dbo].[Organization] ([Program_ID])
GO
ALTER TABLE [dbo].[PublicDeviceAccess]  WITH CHECK ADD FOREIGN KEY([Program_ID])
REFERENCES [dbo].[Organization] ([Program_ID])
GO
ALTER TABLE [dbo].[SkillSupport]  WITH CHECK ADD FOREIGN KEY([Program_ID])
REFERENCES [dbo].[Organization] ([Program_ID])
GO
USE [master]
GO
